@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --teal: rgb(0,128,128);
    --the-light-one: #e3f3ee;
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}

html::-webkit-scrollbar {
    display: none;
}

img {
    width: 100%;
}

.sign-up, .products, .about {
    overflow-x: hidden;
}

section:not(.home) {
    padding: 50px 100px;
}

header {
    background: var(--the-light-one);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 20px 50px;
    transition: 0.5s linear;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.logo {
    background-image: linear-gradient(0.5deg, rgb(0, 128, 128) 8.5%, rgb(174, 206, 100) 118.2%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Lobster', cursive !important;
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
}

.navbar a {
    font-size: 1.3rem;
    font-weight: 510;
    color: #888888;
}

.navbar a:hover:not(.button) {
    color: var(--teal);
    padding-bottom: 30.5px;
    border-bottom: 4px solid var(--teal);
    transition: 0.3 ease;
}

.header-icons {
    font-size: 1.7rem;
    cursor: pointer;
    z-index: 1000;
}

#menu-icon {
    display: none;
}

.search-box {
    position: absolute;
    top: 115%;
    right: -100%;
}

.search-box input {
    padding: 10px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    width: 280px;
    box-shadow: var(--box-shadow);
}

.search-box.active {
    right: 1rem;
    transition: 0.2s;
}

.cart {
    position: absolute;
    font-size: 1.1rem;
    top: 115%;
    right: -100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    width: 280px;
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.cart.active {
    right: 1rem;
    transition: 0.2s;
}

.home {
    width: 100%;
    align-items: center;
    padding-top: 100px;
    position: relative;
    background-color: var(--the-light-one);
}

.home-text {
    position: absolute;
    top: 235px;
    left: 100px;
}

.logo__2 {
    font-size: 7.5rem;
    margin-bottom: 1rem;  
}

.home-text h1 {
    color: var(--teal);
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
}

.btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: -webkit-linear-gradient(to left, rgb(0, 128, 128) 8.5%, rgb(174, 206, 100) 118.2%);
    background: linear-gradient(to left, rgb(0, 128, 128) 8.5%, rgb(174, 206, 100) 118.2%);
    transition: all 0.4s;
    font-size: 1.3rem;
    font-weight: 510;
    position: relative;
    cursor: pointer;
}

.btn a {
    position: relative;
    z-index: 2;
    color: #fff;
}

.btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--teal);
    transition: all 0.35s;
    border-radius: 4px;
}

.btn:hover {
    color: #fff;
}

.btn:hover::after {
    width: 100%;
}

.about {
    background-color: var(--the-light-one);
    color: var(--teal);
}

.about .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 30px;
}

.heading h1 {
    margin-top: 45px;
    font-size: 4rem;
    font-family: 'Lobster';
    text-align: center;
    color: var(--teal);
    background-image: linear-gradient(0.5deg, rgb(0, 128, 128) 8.5%, rgb(174, 206, 100) 118.2%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.about .heading p {
    line-height: 170%;
    padding: 0 200px;
    font-size: 1.4rem;
    text-align: center;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
}

.about-container h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.about-container div img {
    width: 15rem;
}

.about-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    row-gap: 30px;
}

.about-container div p {
    text-align: center;
    line-height: 150%;
    font-size: 1.2rem;
}

.sign-up {
    padding: 60px 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-up img {
    width: 750px !important;
    z-index: 1;
}

.sign-up-text {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.sign-up-form {
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    padding: 50px;
    background-color: var(--the-light-one);
    margin-left: 150px;
    color: var(--teal);
    z-index: 2;
    transform: translateX(30%);
}

.sign-up-text h2 {
    font-size: 2.4rem;
}

.logo__sign-up {
    font-size: 3rem;
    margin-left: 15px;
}

.sign-up-form p {
    font-size: 1.3rem;
    margin-bottom: 50px;
}

.sign-up-form input {
    padding: 12px;
    width: 60%;
    margin-right: 25px;
    border-radius: 10px;
    border: var(--teal) solid 3px;
    font-size: 1rem;
    background-color: var(--the-light-one);
}

.input-container {
    display: flex;
    align-items: center;
}

.products {
    background-color: var(--the-light-one);
    padding-bottom: 100px !important;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 3rem;
    margin-top: 3rem;
}

.products-container .box {
    background-color: #fff;
    position: relative;
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 10%;
}

.products-container .box img {
    margin-bottom: 65px;
}

.products-container .box .content span {
    position: absolute;
    bottom: 20px;
    color: #888888;
}

.products-container .box .content h2 {
    color: var(--teal);
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    bottom: 50px;
}

.products-container .box .content .bx {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    color: #888888;
}

.products-container .box .content .bx:hover {
    background-color: var(--teal);
    color:#fff;
    transition: 0.35s;
}

.products-container .box img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
    cursor: pointer;
}

.products-container .box img:hover {
    -webkit-transform: scale(1.4);
	transform: scale(1.4);
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 3rem;
    color: var(--teal);
    padding-bottom: 80px !important;
}

.logo__3 {
    font-size: 2.3rem;
    margin-bottom: 0.8rem;
}

.footer h2 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}

.socials {
    display: flex;
    column-gap: 0.3rem;
}

.socials .bx {
    font-size: 25px;
    color: var(--teal);
    border-radius: 20%;
    padding: 7px;
    cursor: pointer;
}

.socials .bx:hover {
    background-color: var(--teal);
    color: #fff;
}

.footer-box a {
    color: var(--teal);
}

.footer-box li a {
    line-height: 200%;
}

@media screen and (max-width: 960px) {
    header {
        padding: 20px 0;
    }

    header .logo {
        padding-left: 25px;
    }

    .header-icons {
        padding-right: 25px;
    }

    #menu-icon {
        display: initial;
    }

    .navbar a:hover:not(.button) {
        border: none;
        color: var(--teal);
    }

    .navbar {
        position: absolute;
        width: 240px;
        height: 100vh;
        top: 100%;
        right: -100%;
        display: flex;
        flex-direction: column;
        background-color: var(--the-light-one);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14, 55, 54 / 15%);
        transition: 0.3s linear;
        text-align: left;
    }

    .navbar.active {
        right: 0;
    }
}

@media screen and (max-width: 1350px) {
    .sign-up-form {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1250px) {
    .sign-up-form {
        margin-left: 50;
        transform: translateX(25%);
    }

    .sign-up img {
        width: 50% !important;
    }
}

@media screen and (max-width: 1200px) {
    .sign-up-text {
        flex-direction: column;
    }
}

@media screen and (max-width: 1150px) {
    .logo__2 {
        font-size: 100px;
    }

    .home-text h1 {
        font-size: 25px;
    }

    .home-text .btn {
        font-size: 120%;
    }
}

@media screen and (max-width: 1020px) {
    .logo__2 {
        font-size: 80px;
    }

    .home-text h1 {
        font-size: 23px;
    }

    .home-text .btn {
        font-size: 110%;
    }

    .home-text {
        transform: translateY(-10%);
    }
}

@media screen and (max-width: 900px) {
    .logo__2 {
        font-size: 70px;
    }

    .home-text h1 {
        font-size: 20px;
    }

    .home-text .btn {
        font-size: 100%;
    }

    .home-text {
        transform: translateY(-25%);
    }

    .heading h1 {
        font-size: 350%;
    }

    .about .heading p {
        padding: 0;
    }

    .about .heading p, .about-container div p {
        font-size: 100%;
    }

    .about-container div h2 {
        font-size: 140%;
    }
}

@media screen and (max-width: 800px) {
    .logo__2 {
        font-size: 50px;
    }

    .home-text h1 {
        font-size: 17px;
    }

    .home-text .btn {
        font-size: 80%;
    }

    .home-text {
        transform: translate(-30%, -55%);
    }
}

@media screen and (max-width: 930px) {
    .sign-up img {
        display: none;
    }

    .sign-up-form {
        transform: translateX(0%);
        margin: 50px;
    }

    .sign-up {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-container {
        column-gap: 2.4rem;
    }
}

@media screen and (max-width: 570px) {
    .input-container {
        flex-direction: column;
    }

    .input-container input {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0;
    }

    .input-container .btn {
        width: 100%;
    }

    .sign-up-form h2 {
        font-size: 25px;
    }

    .logo__sign-up {
        font-size: 35px;
    }

    .sign-up-form p {
        font-size: 100%;
    }
}

@media screen and (max-width: 430px) {
    .sign-up-form h2 {
        font-size: 20px;
    }

    .logo__sign-up {
        font-size: 30px;
    }
}

@media screen and (max-width: 450px) {
    .logo__2 {
        font-size: 40px;
    }

    .home-text h1 {
        font-size: 12px;
        margin-bottom: 13px;
    }

    .home-text .btn {
        font-size: 60%;
        padding: 5px 10px;
    }

    .home-text {
        transform: translate(-45%, -65%);
    }
}

@media screen and (max-width: 410px) {
    .home-text {
        transform: translate(-45%, -75%);
    }

    .about-container {
        justify-content: center;
    }

    .about-container div img {
        width: 12rem;
    }

    .products-container {
        justify-content: center;
    }

    .products {
        padding: 50px 80px 100px !important;
    }
}

@media screen and (max-width: 350px) {
    header .logo {
        font-size: 1.8rem;
    }

    .home {
        padding: 80px 0 0;
    }

    .home-text {
        transform: translate(-60%, -120%);
    }

    .logo__2 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .home-text h1 {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .home-text .btn {
        font-size: 55%;
    }

    .about {
        padding: 50px !important;
    }

    .about-container div img {
        width: 8rem;
    }

    .sign-up-form {
        margin: 25px 15px;
    }

    .sign-up-form p {
        margin-bottom: 30px;
    }

    .input-container input {
        margin-bottom: 15px;
    }

    .products {
        padding: 50px 45px 80px !important;
    }

    .footer {
        padding: 50px 40px 80px !important;
    }
}

.left-to-right {
    transform: translateX(-150%);
    transition: 1s ease-in-out;
}
  
.left-to-right.start {
    transform: translateX(0);
}

.right-to-left {
    transform: translateX(150%);
    transition: 1s ease-in-out;
}

.right-to-left.start {
    transform: translateX(0);
}

.zoom {
    transform: scale(0);
    transition: 0.6s ease-in-out;
}

.zoom.start {
    transform: unset;
}

.bottom-up {
    transform: translateY(45%);
    transition: 0.8s ease-in-out;
}

.bottom-up.start {
    transform: translateY(0);
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-4 {
    transition-delay: 0.4s;
}

.delay-6 {
    transition-delay: 0.6s;
}

.delay-8 {
    transition-delay: 0.8s;
}